#Hanabushii {
    background-color: purple;
    outline: 1px solid green;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
}

.bg {
    display: block;
    position: absolute;
    z-index: 1;
}

.player {
    display: block;
    position: absolute;
    z-index: 2;
}
